.tooling/apdev-examples3b326ae3-06a0-49fd-904e-d00b420b16c5/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="07248846-4903-4a2c-b3b3-d9722651fe2c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="e2df7928-c8cc-4b6f-a988-0efc9a5e9b45" >
		<http:listener doc:name="GET /hello" doc:id="c624a029-1a11-4b86-9d83-78fa579a707b" path="/hello" allowedMethods="GET"/>
		<set-payload value='#["Hello"]' doc:name="Hello" doc:id="80535d34-5628-456e-a38f-1f447060360c" />
		<logger level="INFO" doc:name="Logger" doc:id="23ed4f9c-5f03-42cc-adc2-3a865a58e43c" />
	</flow>
</mule>
