task/src/main/mule/processApi.xml
<?xml version="1.0" encoding="UTF-8"?>

 

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"

       xmlns="http://www.mulesoft.org/schema/mule/core"

       xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd

http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd

http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

 

       <flow name="sabreFulfillmentFlow1" doc:id="57a7e6ef-6634-4f55-a0b0-559e43ca58c2" initialState="started">

              <http:listener doc:name="Listener" doc:id="5289571f-91b7-47ea-9024-d0bdc6318c55" config-ref="HTTP_Listener_config1" path="/fulfillment" allowedMethods="POST">
			<http:error-response >
				<http:body ><![CDATA[#[output application/json 
--- 
payload]]]></http:body>
			</http:error-response>
		</http:listener>

              <set-variable value="#[payload]" doc:name="originalReq" doc:id="4adba04c-c566-4507-85c2-7c37c66aafcf" variableName="originalReq"/>

              <ee:transform doc:name="JsonToXml" doc:id="36c1cb20-755c-43b9-9b62-0d6c7f2442c6">

                     <ee:message>

                           <ee:set-payload resource="MuleDMLTransformations/jsonToXmlTM.dwl" />

                     </ee:message>

              </ee:transform>
		<flow-ref doc:name="1. getReservationSub_Flows" doc:id="b263efde-91f8-4d1a-b643-18cc4da00777" name="getReservationFlow_private"/>

              <flow-ref doc:name="2. paymentSub_Flow" doc:id="b2f41b2f-85a0-46db-b635-2b2f05715c6c" name="paymentFlow_private"/>
		<flow-ref doc:name="scatterGather" doc:id="70e1838b-2b84-4489-b456-a93bd18d30c2" name="scatterGather"/>
		<flow-ref doc:name="updateFlow" doc:id="0d6a0711-d092-4701-a460-88db46cdec5b" name="updateFlow" />

              <!-- <ee:transform doc:name="Transform Message" doc:id="23e32635-da5e-454f-bb9c-6fe08d7e8bf2">

                     <ee:message>

                           <ee:set-payload resource="MuleDMLTransformations/fulfilmentResponse.dwl" />

                     </ee:message>

              </ee:transform> -->

       
</flow>
	<flow name="scatterGather" doc:id="de6f8aea-1eb4-4feb-9c31-624afe9fecc6" >
		<scatter-gather doc:name="Scatter-Gather" doc:id="af486b06-ab42-4fd9-bdd0-a8d91be7574d" >
			<route >
				<flow-ref doc:name="3. callCollectMiscFlowSub_Flow" doc:id="acd3c5e7-06c9-419e-b9cf-114ca85919a4" name="callCollectMiscFlow_private" />
			</route>
			<route >
				<flow-ref doc:name="4. checkOut_subFlow" doc:id="8eb5fe48-b58d-4bb9-900a-407da145184d" name="checkOutFlow_private" />
			</route>
		</scatter-gather>
	</flow>
	<flow name="checkOutFlow_private" doc:id="027a92d5-75d1-41bb-9028-c10f8121e069" >
		<choice doc:name="Choice" doc:id="22aae098-ec32-4447-8b53-edf9b7244b3c">

                     <when expression="#[vars.originalReq.request.paymentData.postTicketingFraudCheckEnabled == true]">

                           <ee:transform doc:name="fraud-checkTransformMessage" doc:id="c6090b16-b94e-4418-aefc-29ba9f0a684b">

                     <ee:message>

                                         <ee:set-payload resource="MuleDMLTransformations/fraud-checkTransformMsg.dwl" />

                     </ee:message>

              </ee:transform>

                           <logger level="INFO" doc:name="Logger" doc:id="a2814d50-1f8c-4d16-b3a9-a2ff847cc634" message="Postfraud-checkTM #[payload]" />

                           <flow-ref doc:name="callfraud-checkFlow" doc:id="b9f41849-aeea-4807-b697-ffb8be39db97" name="getFraud_WSDL" />
				<set-variable value="#[payload.body]" doc:name="Set Variable-fraudCheck" doc:id="d5a0c9a8-d9d6-4ac7-a0d1-4477ddb7dccf" variableName="fraudCheck"/>

                     
</when>
			<otherwise>
				<flow-ref doc:name="updateFlow" doc:id="41170bab-50fb-49e0-9f2f-c71c55912103" name="updateFlow"/>


                     </otherwise>

              
</choice>
	</flow>
	<flow name="callCollectMiscFlow_private" doc:id="74cb1731-441c-47af-91d5-04cb03f84279" >
		<flow-ref doc:name="callCollectMiscFlow" doc:id="0936a5a6-220f-4238-9b2b-e71cc88aefd7" name="getMiscellaneous_WSDL" />
		<set-variable value="#[payload.body]" doc:name="collectMisc_wanted" doc:id="9a9feb40-a4f1-473f-a661-2f210fb5b25e" variableName="collectMisc_wanted" />
	</flow>
	<flow name="paymentFlow_private" doc:id="78c8ab55-3390-49a9-810f-5f9170c7e4fe" >
		<flow-ref doc:name="callPaymentFlow" doc:id="de04b095-4ef2-4ab1-9704-3764868c71fb" name="getPayments_WSDL" />
		<set-variable value="#[payload.body]" doc:name="paymentPayload_wanted" doc:id="8c19bd1a-e076-458b-a30a-ab8e1e216a50" variableName="paymentPayload_wanted" />
		<ee:transform doc:name="paymentTransformMessage" doc:id="37fe005b-98fa-4534-a9c4-d7e05836b151">

                     <ee:message>

                           <ee:set-payload resource="MuleDMLTransformations/paymentTransformMsg.dwl" />

                     </ee:message>

                     <ee:variables>

                     </ee:variables>

              </ee:transform>
	</flow>
	<flow name="getReservationFlow_private" doc:id="21186654-b6eb-405c-bd95-0c9606944f78" >
		<flow-ref doc:name="callGetReservationFlow" doc:id="46870975-6285-433d-9f17-cfc043eaf60b" name="getReservation_WSDL" />
		<ee:transform doc:name="getReservationTransformMessage" doc:id="3d83969a-d5e2-43f2-974b-884b1928c163">

                     <ee:message>

                           <ee:set-payload resource="MuleDMLTransformations/getreservationTransformMsg.dwl" />

                     </ee:message>

                     <ee:variables>
				<ee:set-variable resource="getReservationsResponse.dwl" variableName="getReservationsResponse" />


                     </ee:variables>

              </ee:transform>
		<set-payload value="#[payload]" doc:name="getReservationResponse" doc:id="a5f64eed-f155-4e15-9557-42e9d2f90785" />
	</flow>


</mule>